$header_bg_color: #F7F3F4;
$header_txt_color: #000;
$header_form_placeholder_color: #807C7C;
$button_color: #F2726C;
$txt_color: #333333;
$link-color: #807C7C;
$arrow_bg: #1e1a20;
$txt-color-second: #222433;
$save-world-bg: #FFBD9E;

$transition: all 0.4s ease;

$save-world-item-width: 276px;
$save-world-gap-width: 70px;

$save-world-item-width-sm: 246px;
$save-world-gap-width-sm: 30px;