@import '../vars.scss';

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @include onSmallScreen {
    display: none;
  }

  @include onTablet {
    display: flex;
  }

  &__item {
    margin-right: 102px;
    position: relative;
    overflow: hidden;
    

    @include onTablet {
      margin-right: 52px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: transparent;
    font-size: 16px;
    line-height: 32px;

    &:before {
      content: attr(data-name);
      transform: translate3d(0, 0, 0);
      width: fit-content;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s ease;
      color: $header_txt_color;
    }

    &:after {
      content: attr(data-name);
      width: fit-content;
      position: absolute;
      transform: translate3d(0, 100%, 0);
      top: 0;
      left: 0;
      color: $button_color;
      transition: all 0.4s ease;
      text-shadow: 0 0 .65px $button_color, 0 0 .65px $button_color;
    }

    &:hover {
      &:before {
        transform: translate3d(0, 100%, 0);
      }
  
      &:after {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}