.team-main-block {
  background-image: url(../../images/bg_our_team.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 208px 0 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include onSmallScreen {
    background-image: url(../../images/bg_small_screen.png);
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    color: $arrow_bg;
    width: 928px;
    position: relative;
    margin-bottom: 142px;

    @media (max-width: 1110px) {
      width: 100%;
      font-size: 40px;
      line-height: 54px;
    }

    @include onSmallScreen {
      width: 100%;
      font-size: 24px;
      line-height: 42px;
    }

    &::before {
      position: absolute;
      content: '';
      bottom: -62px;
      left: 50%;
      transform: translateX(-50%);
      width: 736px;
      height: 4px;
      background-color: $arrow_bg;

      @include onSmallScreen {
        width: 80%;
      }
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 736px;

    @include onSmallScreen {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }

    &_item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &:hover {
        svg {
          path {
            fill: $button_color;
          }
        }
      }

      @include onSmallScreen {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
      }

      &-title {
        margin: 0 0 0 20px;
        width: 120px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $arrow_bg;
      }
    }
  }
}