.save-world-slider {
  overflow-x: hidden;
  padding: 100px 0;

  &__container {
    display: flex;
    gap: $save-world-gap-width;
    justify-content: center;
    align-items: center;
    width: $save-world-item-width * 5 + $save-world-gap-width * 4;
    transition: 1s all ease;

    @include onSmallScreen {
      width: $save-world-item-width-sm * 5 + $save-world-gap-width-sm * 4;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 130px;

    &_button {
      border: none;
      outline: none;
      background: transparent;
      width: 8px;
      height: 15px;
      color: $txt-color-second;
      font-size: 24px;

      &:hover {
        cursor: pointer;
      }
    }

    &_txt {
      color: #000;
      font-size: 24px;
      line-height: 32px;

      &--blur {
        opacity: 0.4;
        color: #000;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  &__item {
    width: $save-world-item-width;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include onSmallScreen {
      width: $save-world-item-width-sm;
    }

    &_img {
      width: 100%;

      &--active {
        width: 386px;
        animation: animateBlock 1s ease-in;
      }

      &--top {
        position: absolute;
        top: -30px;
        left: -50px;
        width: 186px;
        height: 153px;
        animation: animateBlock 1s ease-in;

        @include onSmallScreen {
          left: -30px;
        }
      }
    }

    &_title {
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
      color: #FFFFFF;
      opacity: 0.9;
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
      width: 276px;

      &--active {
        color: $txt-color-second;
        top: 40%;
      }
    }

    &_description {
      position: absolute;
      bottom: 80px;
      left: 0px;
      width: 276px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #1E1A20;
      opacity: 0.9;
      margin: 0;

    }
  }
}

@keyframes animateBlock {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}